attrs==19.3.0
cachetools==4.1.1
certifi==2020.6.20
chardet==3.0.4
cycler==0.10.0
dill==0.3.2
future==0.18.2
google-api-core==1.21.0
google-auth==1.18.0
google-cloud-vision==1.0.0
googleapis-common-protos==1.52.0
grpcio==1.30.0
idna==2.8
imageio==2.9.0
kiwisolver==1.2.0
klepto==0.1.9
matplotlib==3.2.2
mecab-python3==1.0.0
mkl-fft==1.1.0
mkl-random==1.1.1
mkl-service==2.3.0
networkx==2.4
numpy==1.18.5
opencv-python==4.3.0.36
Pillow==7.2.0
pipdeptree==1.0.0
pox==0.2.8
protobuf==3.12.2
pyasn1==0.4.8
pyasn1-modules==0.2.8
pykakasi==2.0.0
pytesseract==0.3.4
pytz==2020.1
PyWavelets==1.1.1
requests==2.22.0
rsa==4.6
scikit-image==0.17.2
scipy @ file:///C:/ci/scipy_1592916958183/work
six==1.15.0
tifffile==2020.7.4
unidic-lite==1.0.6
urllib3==1.25.9
wincertstore==0.2
wxPython==4.1.0
